footer {
  background-color: var(--black);
  position: absolute;
  width: 100%;
}

footer ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px 0;
}

footer a {
  font-weight: bold;
  color: var(--white);
  text-transform: uppercase;
  font-size: 14px;
}

/* Tablet Version */

@media (min-width: 1024px) {
  footer ul {
    padding: 20px;
    flex-direction: row;
    justify-content: start;
  }

  footer li {
    margin-right: 25px;
  }
}
