/* Mobile Version */

/* Header */
header {
  display: flex;
  font-family: "Open Sans", serif;
}

.active {
  font-weight: bold;
}

.open {
  display: block;
}

.icon {
  width: 15px;
}

.close, .menu__top__icons {
  display: none;
}

/* Top Menu */
.menu__top.open {
  display: flex;
  align-items: center;
  padding: 15px;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  background-color: var(--white);
}

.menu__open {
  margin-right: 15px;
}

.site__name {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 10px;
}

.site__name a {
  color: var(--black);
  letter-spacing: 20px;
}

/* Aside menu */

.menu__left {
  background-color: var(--black);
  width: 100vh;
  height: 100vh;
  position: relative;
}

.menu__close {
  position: absolute;
  top: 25px;
  right: 25px;
}

.menu__left__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.menu__left__itens a {
  color: var(--white);
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
}

.menu__left__itens li {
  margin-bottom: 20px;
}

.menu__left__nav__icons ul {
  display: flex;
  margin-top: 20px;
}

.menu__left__nav__icons li:not(:first-child) {
  margin-left: 20px;
}

/* Tablet Version */

@media (min-width: 1024px) {
  /* Header */

  .menu__left, .menu__open {
    display: none;
  }

  .menu__top, .menu__top__icons {
    display: flex;
  }

  .menu__top__nav__icons li:not(:first-child) {
    margin-left: 15px;
  }
}
