@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  /* font-family: 'Playfair Display', serif; */
  /* font-family: 'Open Sans', sans-serif; */
}

:root {
  --light-gray: #EEE;
  --white: #fff;
  --black: #000;
}
