@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/* Global styles */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Playfair Display', serif; */
}

:root {
  --light-gray: #EEE;
  --white: #fff;
  --black: #0f0f11;
}
